nav
{
	background-color: rgba(60,60,180,0.8);
	bottom: 0;
	display: inline-block;
	left: 0;
	position: fixed;
	width: 100%;
}

nav ul li
{
	background-color: rgba(200,200,0,0.3);
	border-radius: 5em;
	display: inline-block;
	list-style: none;
	padding: 0.5em 2em;
	-webkit-transition: all 0.5s linear;
}

nav ul li:hover
{
	background-color: rgba(200,200,0,0.8);
	-webkit-transform: scale(1.2) rotate(360deg);
}

table
{
	background-color: rgba(0,0,0,0.05);
	width: 100%;
}

tr:hover
{
	background-color: rgba(0,0,0,0.20);
}


#icono
{
	width: 10%;
}

#icono:hover
{

	-webkit-transition: all 1s linear;
	-webkit-transform: scale(1) rotate(360deg);
	-moz-transition: all 1s linear;
	-moz-transform: scale(1) rotate(360deg);
}
